---
import site from "../data/resources.json";
const title = `Resources`;
const {resources} = site;
---

   <h1>{title}</h1>
   
    {Object.keys(resources).map((i) => (
        <div class="list"> {resources[i].map(item => (
                <div class="card"> <a href={item.link}> <strong>{item.title} </strong></a>
                        <div class="description">{item.description}</div>
                        </div><br>
                  
               
            ))}
        </div>
    ))}

 <style>
.card
{
    background-color:#171e29;
    border-radius: 10px;
    padding: 5px;
    color:white;
    font-weight:500;
    padding-left:10px;
}
a:link{
    color:rgb(255, 255, 255);
}
a:visited{
    color:rgb(159, 203, 216);
}
a:hover{
    color:rgb(101, 206, 175);
}



</style>

