---
import site from "../data/resources.json";
const title = `Resources`;
const {resources} = site;
---
<a class="header" href="https://angelsantoyo.com/"> made with 💙 by angel</a>
   <h1>{title}</h1>
   
    {Object.keys(resources).map((i) => (
        <div class="list"> {resources[i].map(item => (
                <div class="card"> <a href={item.link}> <strong>{item.title} </strong></a>
                        <div class="description">{item.description}</div>
                        </div><br>
                  
               
            ))}
        </div>
    ))}

 <style>
.card
{
    background-color:#171e29;
    border-radius: 10px;
    padding: 5px;
    color:white;
    font-weight:500;
    padding-left:10px;
}
a:link{
    color:rgb(163, 232, 253);
    text-decoration: none;
}
a:visited{
    color:rgb(61, 123, 204);
}
a:hover{
    color:rgb(82, 199, 160);
}
.header{
   font-size:20px;
   font-weight:500; 
}

</style>

