---
import site from "../data/site.json";
const title = `Resources`;
const {resources} = site;
---

   <h1>{title}</h1>
   
    {Object.keys(resources).map((i) => (
        <div class="list"> {resources[i].map(item => (
                <div class="title"> <a href={item.link}> <strong>{item.title} </strong></a>
                        <div class="description">{item.description}</div>
                        </div><br>
                  
               
            ))}
        </div>
    ))}

    <style>

        </style>

